<div class="container">
  <div class="top-container">
    <div class="bar-container">
      <app-percentage-bar [items]="items"> </app-percentage-bar>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
    </div>
  </div>
  <div class="bottom-container">
    <div class="pop-up-container">
      <label (click)="showPopUp()">Moroso</label>
      <app-strategy-pop-up
        @fadeInBottom
        *ngIf="popUpIsVisible"
        (closeEmitter)="popUpIsVisible = false"
      >
      </app-strategy-pop-up>
    </div>
    <div class="chart-container">
      <app-chart-demo></app-chart-demo>
    </div>
    <div class="footer">
      <div>
        <label class="oc">OC: </label>
        <label>Orden de Compra</label>
      </div>
      <div>
        <label class="vt">VT: </label>
        <label>Valor Total</label>
      </div>
      <div>
        <label class="fea-green">FEA: </label>
        <label>Fecha estimada de ajuste a tiempo</label>
      </div>
      <div>
        <label class="fea-yellow">FEA: </label>
        <label>Fecha estimada de ajuste por vencer</label>
      </div>
      <div>
        <label class="fea-red">FEA: </label>
        <label>Fecha estimada de ajuste fuera de tiempo</label>
      </div>
      <div>
        <label class="fea-purple">SIN FEA: </label>
        <label>Sin Fecha estimada de ajuste</label>
      </div>
    </div>
    <div class="item-list-container">
      <div class="item-list">
        <div class="item">
          <div class="number">
            <label>#1</label>
          </div>
          <div class="content">
            <label class="title">Accord</label>
            <div class="totals">
              <label>3 OC </label>
              <label class="sin-oc">- 1 Sin OC </label>
              <label>- VT $ 1000.00 USD</label>
            </div>
            <div class="feas">
              <label class="fea-green">1 FEA </label>
              <label class="fea-yellow">- 1 FEA </label>
              <label class="fea-red">- 1 FEA</label>
            </div>
            <label class="entries">12 Partidas</label>
          </div>
          <div class="arrow">
            <img src="assets/Images/delete.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="footer-2">
      <div>
        <label class="oc">OC: </label>
        <label>Orden de Compra</label>
      </div>
      <div>
        <img src="assets/Images/originales.svg" alt="" />
        <label>Originales</label>
      </div>
      <div>
        <img src="assets/Images/originales.svg" alt="" />
        <label>Complementarias</label>
      </div>
      <div>
        <img src="assets/Images/originales.svg" alt="" />
        <label>Promocion</label>
      </div>
      <div>
        <img src="assets/Images/originales.svg" alt="" />
        <label>Ahorro</label>
      </div>
      <div>
        <img src="assets/Images/originales.svg" alt="" />
        <label>Eliminar partida</label>
      </div>
      <div class="fea">
        <label class="fea-green">FEA: </label>
        <label
          >Fecha estimada de <br />
          ajuste a tiempo</label
        >
      </div>
      <div class="fea">
        <label class="fea-yellow">FEA: </label>
        <label
          >Fecha estimada de <br />
          ajuste por vencer</label
        >
      </div>
      <div class="fea">
        <label class="fea-red">FEA: </label>
        <label
          >Fecha estimada de <br />
          ajuste fuera de tiempo</label
        >
      </div>
      <div class="fea">
        <label class="fea-purple">FEA: </label>
        <label
          >Sin Fecha estimada <br />
          de ajuste</label
        >
      </div>
    </div>
    <div class="buttons-container">
      <div>
        <button>CANCELAR TRAMITE</button>
        <button>OC NO AMPARADA</button>
      </div>
      <div>
        <button>TRAMITAR CON ERRORES DE CLIENTE</button>
        <button>SOLICITAR FEA</button>
      </div>
    </div>
    <div class="item-list-container-2">
      <div class="item-list">
        <div class="item">
          <div class="selector"></div>
          <div class="content">
            <div class="totals">
              <label>3 OC </label>
              <label class="sin-oc">- 1 Sin OC </label>
              <label>- VT $ 1000.00 USD</label>
            </div>
            <img src="assets/Images/con-orden.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
