<div class="container">
  <div class="top-container">
    <div class="bar-container">
      <app-percentage-bar [items]="items"> </app-percentage-bar>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad in adipisci
        fugiat provident, cumque alias laudantium repellendus, animi
        reprehenderit ipsum facere et modi! Amet nam esse reprehenderit id
        officiis consectetur.
      </p>
    </div>
  </div>
  <div class="bottom-container">
    <div class="pop-up-container">
      <label (click)="showPopUp()">Moroso</label>
      <app-strategy-pop-up
        @fadeInBottom
        *ngIf="popUpIsVisible"
        (closeEmitter)="popUpIsVisible = false"
      >
      </app-strategy-pop-up>
    </div>
    <div class="chart-container">
      <app-chart-demo></app-chart-demo>
    </div>
  </div>
</div>
